body {
  margin-top: 30px;
  background-color: #f5f5f5;
}

Logo {
  text-align: center;
}

.container {
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 100px;
  background-color: #ffffff;
  border-radius: 20px;
}